<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GoogleTagManager\Block\ListJson">
        <plugin name="gtmCategoryPath" type="Codilar\CategoryForGTM\Block\Plugin\ListJson" />
    </type>
   <!-- <preference for="Magento\GoogleTagManager\Block\ListJson" type="Codilar\CategoryForGTM\Block\ListJson" />-->
</config>
